<h1>New Form</h1>


<%= form_for(@visit) do |f| %>

<%# Goal needs to be its own model. %>
<%# When goals are created, they get added to a collection. %>
<%# Goals becomes a collection select and or can create a new goal %>

<p> <h2>Goal: <%# f.collection_select :goal_name, Visit.all, :id %> <small>[ pre-populated drop down menu of goal names ] </small></h2> </p>

Or create a new goal: <%= f.fields_for :goal_name do |g| %>
                        <% g.text_field :goal_name %>
                   <% end %>

                   Short term: <%= f.check_box :plus %> Long term: <%= f.check_box :minus %>
<br><br>
        
<br><br>

<%# List of words can also be its own template with option to add a word %>
<%# change for checkboxes to be booleans %>
    <h2>Word List:</h2>
    <br>

    <%# search box for words %>
    <p> 1: <strong>shark</strong>
    <br>+ <%= f.check_box :plus %>  - <%= f.check_box :minus %> || IWP <%= f.check_box :iwp %>
    <br>prompt type: [collection select menu here]
    <br>prompt level: 1 <%= f.check_box :plus %> 2 <%= f.check_box :plus %> 3 <%= f.check_box :plus %> 4 <%= f.check_box :plus %> 5 <%= f.check_box :plus %>
    <br>errors: beginning <%= f.check_box :plus %>middle <%= f.check_box :plus %> end <%= f.check_box :plus %>
    <br>additional errors: <%= f.text_field :notes %>
    </p>
    

    <%# option to add a field for more words %>
    <%# Add word: <%= f.text_field :word %>

    <br>
    <br>
    <p>Notes about visit</p>
    <%= f.text_area :notes, cols:50, rows:4 %>
    <br>
    <br>
    <%= f.submit %>

<% end %>