<h1>New Form</h1>


<%= form_for(@visit) do |f| %>

<b>Goal: <%= f.collection_select :goal_name, Visit.all, :id %></b>

Create a new goal: <%= f.fields_for :goal_name do |g| %>
                        <% g.text_field :goal_name %>
                   <% end %>
<br><br>
        
<br><br>
    List of words:
    <br>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <br>
    <br>
    ST: <%= f.check_box :plus %> LT: <%= f.check_box :minus %>
    <br>
    <%= f.text_area :notes, cols:50, rows:4 %>
    <br>
    <br>
    <%= f.submit %>

<% end %>