<h1>New Form</h1>


<%= form_for(@visit) do |f| %>

<%# Goal needs to be its own model. %>
<%# When goals are created, they get added to a collection. %>
<%# Goals becomes a collection select and or can create a new goal %>
<%# drop down collection_select here of pre-made goal templates %>

<h2>Goal: <%= f.text_field :goal_name %> <strong></h2> Short term: <%= f.check_box :short_term %> Long term: <%= f.check_box :long_term %></strong>
<br><br>
<%# Stetch goal: List of words can also be its own template with option to add a word %>

<%# The value of a " + " checkbox return a point value %>
<%# A " - " checked box has zero value %>
<%# IWP adds a negative value to diminish from the " + " point value %>

<%# Prompt level can max to 5 each awarding a point value. n/a = positive value point %>
<%# Marked error checkboxes have negative values to subtract from total score %>

<%# The goal is keep the checked boxes marking only " + " and "n/a" %>
<%# A bracket of scores render a color to mark levels of achievement / passing goals %>
<%# The color of the Goals object changes color to reflect progress %>

    <h2>Word: <%= f.text_field :word %></h2>

    <strong>First attempt:</strong> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> || IWP <%= f.check_box :iwp %>
    <strong>Second attempt:</strong>  + <%= f.check_box :plus %>  - <%= f.check_box :minus %> || IWP <%= f.check_box :iwp %>
    <strong>Third attempt:</strong>  + <%= f.check_box :plus %>  - <%= f.check_box :minus %> || IWP <%= f.check_box :iwp %>
    <strong>Fourth attempt:</strong>  + <%= f.check_box :plus %>  - <%= f.check_box :minus %> || IWP <%= f.check_box :iwp %>
    <strong>Fifth attempt:</strong> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> || IWP <%= f.check_box :iwp %>
    
    <br>Prompt type: [collection select menu here]
    
    <br>Prompt level: <strong>1 <%= f.check_box :prompt_level %> 2 <%= f.check_box :prompt_level %> 3 <%= f.check_box :prompt_level %></strong>
    
    <br>Where errors started: <strong>beginning <%= f.check_box :error %>middle <%= f.check_box :error %> end <%= f.check_box :error %></strong>
    
    <%# Hypothetical highest achieved value %>
    <br><br>Score: ___ / 50

    <br><br><strong>Further notes on errors:</strong>
    <br><%= f.text_area :error_notes, cols:40, rows:3 %>
    <br><br><br>
    
    <%# option to add a field for more words %>
    
    <strong>Notes about visit:</strong>
    <br>
    <%= f.text_area :comments, cols:50, rows:4 %>
    <br>
    <br>
    <%= f.submit %>

<% end %>

<br><br>
<a href="/">Back to Index</a>