<h1>New Form</h1>


<%= form_for(@visit) do |f| %>

<%# Goal needs to be its own model. %>
<%# When goals are created, they get added to a collection. %>
<%# Goals becomes a collection select and or can create a new goal %>
<b>Goal: <%# f.collection_select :goal_name, Visit.all, :id %></b> 

Create a new goal: <%= f.fields_for :goal_name do |g| %>
                        <% g.text_field :goal_name %>
                   <% end %>

                   Short term: <%= f.check_box :plus %> Long term: <%= f.check_box :minus %>
<br><br>
        
<br><br>

<%# List of words can also be its own template with option to add a word %>
<%# change for checkboxes to be booleans %>
    List of words:
    <br>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <p> Word: <%= f.text_field :word %> + <%= f.check_box :plus %>  - <%= f.check_box :minus %> IWP <%= f.check_box :iwp %></p>
    <br>
    <br>
    <%= f.text_area :notes, cols:50, rows:4 %>
    <br>
    <br>
    <%= f.submit %>

<% end %>